# Xcode
*.xcodeproj
*.xcworkspace
*.xcuserdata
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Tuist
.tuist
Tuist/Dependencies
*.xcodeproj
*.xcworkspace
graph.json

# SPM
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store

# Swift
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo

# Playground
*.playground

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
